@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --ternary-color: #353535;
  }
}

@media print {
  /* Remove browser default margins */
  /* Disable all scrollbars */
  * {
    overflow: visible !important;
  }

  /* Specifically fix modal + body */
  
  .invoice-model {
    overflow: visible !important;
  }

  /* Just in case browser still tries */
  ::-webkit-scrollbar {
    display: none;
  }
  @page {
    size: A4;
    margin: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
  }

  /* Center invoice horizontally */
  .Invoice-page {
    margin: 0 auto;
    box-shadow: none;
  }

  /* Hide dashboard / modal background */
  .dashboard,
  .invoice-model {
    background: none !important;
  }

  .model-close{
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.containerMain{
  display: flex;
  width: 1280px;
  margin: 0 auto;
}